<div class="row">
  <div class="col-xs-12">
   <button class="btn btn-success">New Recipe</button> 
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <!-- Using *ngFor here to iterate through and display all the stored recipes -->
    <a *ngFor="let currentRecipe of recipes" href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ currentRecipe.name }}</h4>
        <p class="list-group-item-text">{{ currentRecipe.description }}</p>
      </div>
      <span class="pull-right">
        <img 
          src="{{ currentRecipe.imagePath }}" 
          alt="{{ currentRecipe.name }}" 
          class="img-responsive" 
          style="max-height:50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
